@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoond41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bb:before {
	content: "\e600";
}
.icon-thumbs-up:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e602";
}
.icon-arrow-left2:before {
	content: "\e603";
}
.icon-arrow-right2:before {
	content: "\e604";
}
.icon-chat:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e606";
}
.icon-arrow-up:before {
	content: "\e623";
}
.icon-linkedin:before {
	content: "\e607";
}
.icon-linkedin2:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e63f";
}
.icon-plus2:before {
	content: "\e640";
}
.icon-comment:before {
	content: "\e683";
}
.icon-forward:before {
	content: "\e687";
}
.icon-reply:before {
	content: "\e688";
}
.icon-share:before {
	content: "\e689";
}
.icon-quote:before {
	content: "\e68a";
}
.icon-calendar:before {
	content: "\e68b";
}
.icon-checkmark:before {
	content: "\e68c";
}
.icon-drawer:before {
	content: "\e60a";
}
.icon-eye:before {
	content: "\e60b";
}
.icon-phone:before {
	content: "\e60c";
}
.icon-play:before {
	content: "\e60d";
}
.icon-image:before {
	content: "\e60e";
}
.icon-images:before {
	content: "\e60f";
}
.icon-camera:before {
	content: "\e610";
}
.icon-list:before {
	content: "\e611";
}
.icon-menu:before {
	content: "\e612";
}
.icon-list2:before {
	content: "\e613";
}
.icon-link:before {
	content: "\e614";
}
.icon-thumbs-up2:before {
	content: "\e615";
}
.icon-flickr:before {
	content: "\e616";
}
.icon-vimeo:before {
	content: "\e617";
}
.icon-feed:before {
	content: "\e618";
}
.icon-facebook:before {
	content: "\e61a";
}
.icon-google-plus:before {
	content: "\e61b";
}
.icon-dribbble:before {
	content: "\e61c";
}
.icon-tumblr:before {
	content: "\e61d";
}
.icon-calendar:before {
	content: "\e61e";
}
.icon-bubbles:before {
	content: "\e61f";
}
.icon-notebook:before {
	content: "\e620";
}
.icon-film:before {
	content: "\e621";
}
.icon-compose:before {
	content: "\e622";
}
.icon-headphones:before {
	content: "\e626";
}
.icon-music:before {
	content: "\e627";
}
.icon-search:before {
	content: "\e609";
}
.icon-email:before {
	content: "\e619";
}
.icon-twitter:before {
	content: "\e628";
}
.icon-tumblr:before {
	content: "\e629";
}
.icon-rss:before {
	content: "\e62a";
}
.icon-google-plus:before {
	content: "\e62b";
}
.icon-google-plus2:before {
	content: "\e62c";
}
.icon-facebook:before {
	content: "\e62d";
}
.icon-facebook2:before {
	content: "\e62e";
}
.icon-twitter2:before {
	content: "\e62f";
}
.icon-twitter3:before {
	content: "\e630";
}
.icon-feed:before {
	content: "\e631";
}
.icon-feed2:before {
	content: "\e632";
}
.icon-dribbble:before {
	content: "\e633";
}
.icon-dribbble2:before {
	content: "\e634";
}
.icon-linkedin3:before {
	content: "\e635";
}
.icon-pinterest:before {
	content: "\e636";
}
.icon-pinterest2:before {
	content: "\e637";
}
.icon-spinner:before {
	content: "\e638";
}
.icon-home:before {
	content: "\e641";
}
.icon-dollar:before {
	content: "\e642";
}
.icon-pilcrow:before {
	content: "\e643";
}
.icon-copyright:before {
	content: "\e644";
}
.icon-uniF79A:before {
	content: "\e645";
}
.icon-uniF78E:before {
	content: "\e646";
}
.icon-uniF7B3:before {
	content: "\e647";
}
.icon-uniF639:before {
	content: "\e648";
}
.icon-uniF680:before {
	content: "\e649";
}
.icon-uniF4D2:before {
	content: "\e64a";
}
.icon-uniF50B:before {
	content: "\e64b";
}
.icon-uniF55B:before {
	content: "\e64c";
}
.icon-uniF55C:before {
	content: "\e64d";
}
.icon-uniF55D:before {
	content: "\e64e";
}
.icon-uniF571:before {
	content: "\e64f";
}
.icon-uniF572:before {
	content: "\e650";
}
.icon-uniF573:before {
	content: "\e651";
}
.icon-uniF55E:before {
	content: "\e652";
}
.icon-uniF55F:before {
	content: "\e653";
}
.icon-uniF561:before {
	content: "\e654";
}
.icon-uniF562:before {
	content: "\e655";
}
.icon-uniF560:before {
	content: "\e656";
}
.icon-uniF563:before {
	content: "\e657";
}
.icon-uniF564:before {
	content: "\e658";
}
.icon-uniF565:before {
	content: "\e659";
}
.icon-uniF566:before {
	content: "\e65a";
}
.icon-uniF567:before {
	content: "\e65b";
}
.icon-uniF568:before {
	content: "\e65c";
}
.icon-uniF569:before {
	content: "\e65d";
}
.icon-uniF56A:before {
	content: "\e65e";
}
.icon-uniF472:before {
	content: "\e65f";
}
.icon-uniF473:before {
	content: "\e660";
}
.icon-uniF474:before {
	content: "\e661";
}
.icon-uniF471:before {
	content: "\e662";
}
.icon-uniF470:before {
	content: "\e663";
}
.icon-uniF475:before {
	content: "\e664";
}
.icon-uniF476:before {
	content: "\e665";
}
.icon-uniF477:before {
	content: "\e666";
}
.icon-uniF478:before {
	content: "\e667";
}
.icon-uniF479:before {
	content: "\e668";
}
.icon-skypeonline:before {
	content: "\e669";
}
.icon-skypeaway:before {
	content: "\e66a";
}
.icon-skypebusy:before {
	content: "\e66b";
}
.icon-circleleft:before {
	content: "\e66c";
}
.icon-circledown:before {
	content: "\e66d";
}
.icon-circleright:before {
	content: "\e66e";
}
.icon-circleup:before {
	content: "\e66f";
}
.icon-shoppingcart:before {
	content: "\e670";
}
.icon-tag:before {
	content: "\e671";
}
.icon-opencart:before {
	content: "\e672";
}
.icon-html5:before {
	content: "\e673";
}
.icon-html:before {
	content: "\e674";
}
.icon-github:before {
	content: "\e675";
}
.icon-circleadd:before {
	content: "\e676";
}
.icon-circledelete:before {
	content: "\e677";
}
.icon-circleselect:before {
	content: "\e678";
}
.icon-volumefull:before {
	content: "\e679";
}
.icon-volumemute:before {
	content: "\e67a";
}
.icon-volumemute2:before {
	content: "\e67b";
}
.icon-volumehalf:before {
	content: "\e67c";
}
.icon-phone2:before {
	content: "\e67d";
}
.icon-friends:before {
	content: "\e67e";
}
.icon-phonebook:before {
	content: "\e67f";
}
.icon-user:before {
	content: "\e680";
}
.icon-loved:before {
	content: "\e681";
}
.icon-flickr:before {
	content: "\e684";
}
.icon-flickr2:before {
	content: "\e685";
}
.icon-flickr3:before {
	content: "\e686";
}
.icon-storm2:before {
	content: "\e68d";
}
.icon-psup:before {
	content: "\e68e";
}
.icon-psright:before {
	content: "\e68f";
}
.icon-psdown:before {
	content: "\e690";
}
.icon-psleft:before {
	content: "\e691";
}
.icon-drawer:before {
	content: "\e692";
}
.icon-cabinet:before {
	content: "\e693";
}
.icon-book:before {
	content: "\e694";
}
.icon-connection:before {
	content: "\e695";
}
.icon-cart:before {
	content: "\e696";
}
.icon-folder-open:before {
	content: "\e697";
}
.icon-folder:before {
	content: "\e698";
}
.icon-location:before {
	content: "\e699";
}
.icon-location2:before {
	content: "\e69a";
}
.icon-download:before {
	content: "\e69b";
}
.icon-upload:before {
	content: "\e69c";
}
.icon-user:before {
	content: "\e69d";
}
.icon-expand:before {
	content: "\e69e";
}
.icon-contract:before {
	content: "\e69f";
}
.icon-expand2:before {
	content: "\e6a0";
}
.icon-contract2:before {
	content: "\e6a1";
}
.icon-settings:before {
	content: "\e6a2";
}
.icon-equalizer:before {
	content: "\e6a3";
}
.icon-road:before {
	content: "\e6a4";
}
.icon-numbered-list:before {
	content: "\e6a5";
}
.icon-star:before {
	content: "\e6a6";
}
.icon-star2:before {
	content: "\e6a7";
}
.icon-star3:before {
	content: "\e6a8";
}
.icon-heart:before {
	content: "\e6a9";
}
.icon-thumbs-up:before {
	content: "\e6aa";
}
.icon-vimeo:before {
	content: "\e6ab";
}
.icon-vimeo2:before {
	content: "\e6ac";
}
.icon-wordpress:before {
	content: "\e6ad";
}
.icon-joomla:before {
	content: "\e6ae";
}
.icon-windows8:before {
	content: "\e6af";
}
.icon-android:before {
	content: "\e6b0";
}
.icon-github:before {
	content: "\e6b1";
}
.icon-double-angle-right:before {
	content: "\e624";
}
.icon-double-angle-left:before {
	content: "\e625";
}
.icon-facebook3:before {
	content: "\e639";
}
.icon-twitter4:before {
	content: "\e63a";
}
.icon-dribbble3:before {
	content: "\e63b";
}
.icon-google-plus3:before {
	content: "\e63c";
}
.icon-play-sign:before {
	content: "\e63d";
}
.icon-play:before {
	content: "\e63e";
}
.icon-camera:before {
	content: "\e682";
}
