/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; margin:0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	background: #fff;
	position: relative;
	zoom: 1;}
.flex-viewport {
	max-height: 2000px;
	transition: all 1s ease
}
.loading .flex-viewport {max-height: 429px;}
.flexslider .slides {zoom: 1;}
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	width: 30px; 
	height: 30px; 
	margin:0; 
	display: block; 
	position: absolute; 
	top:50%; 
	z-index: 10; 
	cursor: pointer; 
	text-indent: -9999px
}
.flex-direction-nav .flex-next {right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {right: 5px;}
.flexslider:hover .flex-prev {left: 5px;}



/* Control Nav */
.kp-gallery-slider .flex-direction-nav li,
.kp-gallery-carousel .flex-direction-nav li {
	list-style:none;
	margin:0;
}

.gallery-slider .flex-direction-nav a {
	width:48px;
	height:48px;
	background-color:#1c1c1c;
	margin: 0;
	background-position:center center;
}
.gallery-slider .flex-direction-nav a{
	margin:-24px 0 0;
}

.gallery-slider.flexslider:hover .flex-prev {
	left:0;
}

.gallery-slider.flexslider:hover .flex-next {
	right:0;
}

.flexslider.gallery-slider .slides > li {
	position:relative;
}
.gallery-slider .gallery-caption {
	font-size:30px;
	line-height:24px;
	padding:15px 0;
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color:rgba(0,0,0,.7);
	color:#fff;
	margin:0; 
}
.gallery-slider .gallery-caption a {
	color:#fff;
}

.kp-gallery-slider {
	margin:0;
	border:none;
	border-radius:0;

}
.kp-gallery-slider .slides > li {
	position:relative;
}
.kp-gallery-slider .mask img {
	display:block;
	width:100%;
	
}
.kp-gallery-caption {
	color:#fff;
	background-color:rgba(0,0,0,.5);
	padding:20px 25px;
	position:absolute;
	bottom:0;
	left:0;
}
.kp-gallery-slider .flex-direction-nav a {
	width:25px;
	height:41px;
	margin: 0;
	display:block;
	z-index:100;
}
.kp-gallery-slider .flex-direction-nav a {
	margin:-13px 0 0;
}
.kp-gallery-slider.flexslider:hover .flex-prev {
	left:40px;
}
.kp-gallery-slider.flexslider:hover .flex-next {
	right:40px;
}
.kp-gallery-slider .flex-prev {
	background:url(../images/slider/flex-prev-2.png) no-repeat center center;	
}
.kp-gallery-slider .flex-next {
	background:url(../images/slider/flex-next-2.png) no-repeat center center;	
}

.kp-gallery-carousel {
	border-radius:0;
	border:none;
	padding:0;
	margin:10px 0 15px;
}
.kp-gallery-carousel .slides li {
	margin-top:0px; 
	list-style:none; 
	cursor: pointer;
	position: relative;
}
.kp-gallery-carousel .slides li .kp-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	border:5px solid transparent;
	left: 0;
	top: 0;
}
.kp-gallery-carousel .slides li:hover .kp-mask,
.kp-gallery-carousel .slides li.flex-active-slide .kp-mask {
	border-color: #292929;
}
.kp-gallery-carousel img {
	display: block;
}

.kp-gallery-carousel .slides li.flex-active-slide {cursor: pointer;}

.kp-gallery-carousel .flex-direction-nav a {
	width:30px;
	height:130px;
	margin:0;
    top: 0;
}

.kp-gallery-carousel .flex-prev {
	background:#292929 url(../images/slider/small-flex-prev-2.png) no-repeat center center;
	left:0;
}
.kp-gallery-carousel .flex-prev:hover,
.kp-gallery-carousel .flex-next:hover {
	background-color: rgba(41,41,41, .5);
}
.kp-gallery-carousel .flex-next {
	background:#292929 url(../images/slider/small-flex-next-2.png) no-repeat center center;
	right:0;
}

.kp-gallery-carousel:hover .flex-prev {
	left: 0;
}
.kp-gallery-carousel:hover .flex-next {
	right: 0;
}
.kp-gallery-carousel .mask {
	position:relative;
}

